*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}
main{
    width: 75%;
}
header{
    margin-bottom: 50px;
}
section{
    display: flex;
    img{
        width: 50%;
    }
}
aside{
    padding: 40px;

    h1{
        color: white;
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    p{
        color: rgba(255, 255, 255, 0.843);
        margin-bottom: 20px;
    }
    button{
        color: hsl(257, 40%, 49%);
        background-color: white;
        border-radius: 30px;
        padding: 15px;
        width: 30%;
        cursor: pointer;
    }
    button:hover{
        color: rgba(255, 255, 255, 0.843);
        background-color: hsl(300, 69%, 71%);
    }
}
footer{
    img{
        width: 25px;
    border: 1px solid rgba(255, 255, 255, 0.956);
    border-radius: 100%;
    padding: 5px;
    }
    img:hover{
        color: hsl(300, 69%, 71%);
        border: 1px solid hsl(300, 69%, 71%);
    }
}